/**
 * The user interface SCSS file.
 *
 * Compiled with SCSS file watcher rules in phpStorm into ../../css/location_tools_ui.css.
 **/
.location_tools .coordinates {
  display: block; }
  .location_tools .coordinates label {
    display: inline-block;
    font-size: 0.75em;
    width: 9em; }
.location_tools .lat_input, .location_tools .lng_input {
  display: inline-block;
  width: 10em; }
.location_tools .output {
  display: block;
  font-weight: 700; }
  .location_tools .output #lt_dc_unit {
    margin-left: 0.25em; }

/*# sourceMappingURL=location_tools_ui.css.map */
