/**
 * The user interface SCSS file.
 *
 * Compiled with SCSS file watcher rules in phpStorm into ../../css/location_tools_ui.css.
 **/

.location_tools {
    .coordinates {
        display: block;

        label {
            display: inline-block;
            font-size: 0.75em;
            width: 9em;
        }
    }

    .lat_input , .lng_input {
        display: inline-block;
        width: 10em;
    }

    .output {
        display: block;
        font-weight: 700;

        #lt_dc_unit {
            margin-left: 0.25em;
        }
    }
}